.u-text-left { text-align: left; }
.u-text-center { text-align: center; }
.u-text-right { text-align: right; }

@media #{$medium-up}{
  .u-text-left\@medium { text-align: left; }
  .u-text-center\@medium { text-align: center; }
  .u-text-right\@medium { text-align: right; }
}

.u-uppercase { text-transform: uppercase; }
